@import url(reset.css);

body {
	font: 12px/1.6 Arial, Tahoma, sans-serif;
	color: #5d5d5d;
	background-color: #f4f4f4;
}

a {
	color: #fe9b00;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

p {
	margin: 10px 0;
}

h2,
h3 {
	font-weight: bold;
	color: #090909;
	text-transform: uppercase;
	background: url(../images/arrow.png) no-repeat;
}

h2 {
	font-size: 18px;
	padding-left: 28px;
	background-position: 0 10px;
	margin-bottom: 11px;
}

h3 {
	font-size: 12px;
	padding-left: 22px;
	background-position: 0 6px;
	margin-bottom: 20px;
}

.active,
a:hover {
	color: #090909;
}

.top_line {
	background-color: #090909;
	height: 17px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	padding: 20px 0 16px;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
}

.content {
	margin-top: 20px;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
	padding-bottom: 25px;
}

.logo {
	width: 183px;
	height: 100px;
	float: left;
}

.menu {
	float: right;
	margin-top: 40px;
}

.menu ul li {
	float: left;
	margin-left: 63px;
}

.menu ul li:first-child {
	margin-left: 0;
}

.header_image {
	height: 380px;
	background: url(../images/header_image.jpg) no-repeat;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #c0c0c0;
	position: relative;
}

.black_box {
	background-color: #090909;
	width: 443px;
	height: 43px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: #999898;
	position: absolute;
	left: 35px;
	bottom: 68px;
}

.black_box p {
	margin: 14px 12px;
	line-height: 1;
}

.black_box p a {
	float: right;
}

.black_box p a:hover {
	color: #fe9b00;
}

.content_box {
	width: 285px;
	float: left;
	margin-right: 52px;
}

.content_box h2 {
	padding-bottom: 3px;
	margin-bottom: 15px;
}

.content_box ul li {
	padding-left: 28px;
	background: url(../images/check.png) no-repeat 0 3px;
	margin-bottom: 12px;
	line-height: 1.3;
}

.content_box ul li:last-child {
	margin-bottom: 0;
}

.italic {
	font-style: italic;
	color: #090909;
	margin-top: 20px;
}

.portfolio {
	margin-top: 20px;
	padding-bottom: 33px;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
}

.bottom_row {
	margin-top: 20px;
	overflow: hidden;
}

.blog {
	width: 670px;
	float: left;
}

.contacts {
	width: 220px;
	float: right;
}

.contacts ul li {
	float: left;
	margin-right: 10px;
}

.portfolio_image {
	width: 215px;
	height: 135px;
	float: left;
	margin-right: 33px;
	position: relative;
}

.portfolio_image:last-child,
.content_box:last-child,
.contacts ul li:last-child {
	margin-right: 0;
}

.portfolio_image a {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #090909;
	display: block;
	background-color: #fe9b00;
	padding: 4px 10px;
	line-height: 1;
}

footer {
	background-color: #e2e2e2;
	padding: 32px 0;
	margin-top: 35px;
}

.footer_content {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.footer_content a {
	color: #5d5d5d;
	font-weight: normal;
	text-transform: capitalize;
}

.footer_content ul {
	overflow: hidden;
}

.footer_content ul li {
	float: left;
	padding: 0 7px;
	border-left: 1px solid #5d5d5d;
	line-height: 1;
}

.footer_content ul li:first-child {
	padding-left: 0;
	border: none;
}

.footer_content ul li:last-child {
	padding-right: 0;
}

.footer_content ul li:hover {
	text-decoration: underline;
}

.footer_content p {
	margin: 3px 0 0;
}

.logo_footer {
	width: 119px;
	height: 64px;
	position: absolute;
	right: 0;
	top: -13px;
}

.logo_footer img {
	width: 119px;
	height: 64px;
}